* {
    box-sizing: border-box;
}

:root {
    --img-width: 25rem;
    --img-height: 25rem;
    --gap-amount: 0.75rem;

}

body {
    background-color: #35363a;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
}

.glinks {
    display: flex;
    gap: 0.313rem;
    padding-top: 1.563rem;
    padding-right: 1.563rem;

}

.shortcut > span {
    color: white;
    font-family: "Roboto", sans-serif;
}

svg {
    width: 2rem;
    height: 2rem; 
}

svg > path {
    fill: white;
}

a {
    padding: 0.75rem;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #8ab4f8;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footLink > .pencil {
    height: 1rem;
    width: 1rem;
}

.pencil > path {
    fill: #8ab4f8;
}

.footLink > .themeLink::before {
    content: "";
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg class='pencil' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z'/%3E%3C/svg%3E");
}


footer {
    display: flex;
    text-align: center;
    justify-content: flex-end;
    margin-top: auto;
    flex: 0;
    
}


.footLink > .themeLink {
    font-family: "Roboto", sans-serif;
}


