:root {
    --img-width: 25rem;
    --img-height: 25rem;
    --gap-amount: 0.75rem;

}

body {
    background-color: #35363a;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
}

.glinks {
    display: flex;
    align-items: center;
    gap: 0.313rem;
    padding-top: 1.563rem;
    padding-right: 1.563rem;

}

.shortcut > span {
    color: white;
    font-family: "Roboto", sans-serif;
}

svg {
    width: 2rem;
    height: 2rem; 
}

svg > path {
    fill: white;
}

a {
    padding: 0.75rem;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: white;
}

.themeLink > a {
    font-family: "Roboto", sans-serif;
}