* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: black;
    margin: 0 auto;
}

.layout {
    padding-top: 9.375rem;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 2.188rem;
    column-gap: 1em;
    margin: 0 auto;
}

.item {
    padding-top: 0.5em;
    position: relative;
}

a {
    text-decoration: none;
    color: #ffd700;
    text-align: center;
    transition: color .3s;
    font-family: "Concert One", "IBM Plex Mono", sans-serif;
    font-size: 1.125rem; 
}

a:hover {
    text-decoration: underline;
    color: #ffe665;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

img {
    width: 8.75rem;
    height: 8.75rem; 
    border: 2px solid red;
}

figcaption {
    background-color: #2222;
    color: white;
    font: "Concert One", sans-serif;
    padding: 2rem;
    text-align: center;
    position: absolute;
    bottom: 1.563rem;


}

/*
.pic {
    border: 2px solid red;
}
*/


@media only screen and (max-width: 82.375rem) {
    /* for mobile */
    .layout {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10rem;
    }

    a {
        font-family: "IBM Plex Mono", sans-serif;
        font-size: 4ch;
    }

    img {
        width: 12.5rem;
        height: 12.5rem;
        text-align: center;
    }
}

@media (orientation: landscape) {
    .layout {
        grid-template-columns: repeat(4, 1fr);
    }
}