* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background: linear-gradient(121deg, #313132 0%, #161618 100%);
    margin: 0 auto;
}

.layout {
    padding-top: 9.375rem;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 2.188rem;
    column-gap: 1em;
    margin: 0 auto;
}

.item {
    padding-top: 0.5em;
    position: relative;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffd700;
    text-align: center;
    transition: color .3s;
    font-family: "Concert One", "IBM Plex Mono", sans-serif;
    font-size: 1.125rem; 
}

a:hover {
    text-decoration: underline;
    color: #ffe665;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

img {
    width: 8.75rem;
    height: 8.75rem; 
    border: 2px solid red;
    display: block;
}


.pic:hover figcaption{
    opacity: 1;
}


figcaption {
    background-color: #2222;
    color: white;
    font: "Concert One", sans-serif;
    position: absolute;
    width: 8.75rem;
    bottom: 1.2rem;
    text-align: center;
    /*background: linear-gradient(to top, rgba(0,0,0,0.95), transparent);*/
    background: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .5s ease;
}

/*
.pic {
    border: 2px solid red;
}
*/


@media only screen and (max-width: 82.375rem) {
    /* for mobile */
    .layout {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10rem;
    }

    a {
        font-family: "IBM Plex Mono", sans-serif;
        font-size: 2rem;
    }

    img {
        width: 12.5rem;
        height: 12.5rem;
        text-align: center;
    }

    figcaption {
        width: 12.5rem;
    }
}

@media (orientation: landscape) {
    .layout {
        grid-template-columns: repeat(4, 1fr);
    }
}